ConfigArgParse==1.2.3
graphviz==0.14.1
regex==2020.11.13
unicode==2.7
awesome-slugify==1.6.5
requests==2.25.0
certifi==2020.11.8
chardet==3.0.4
idna==2.10
urllib3==1.25.8
Unidecode==0.4.21
katversion==1.1
