docs
*.pdf
venv
*.swp
reports
reportCHPC
./data
./venv
header.tex
pandoc.yaml
./docs
*.pyc
make_config/__pycache__/*.pyc
.ipynb_checkpoints
*.json
device-md.py.backup2
generate-report.sh.backup
katsdpinfrastructure
servers
device-md.py.keep
